tensorflow==2.16.1
pandas
numpy
scikit-learn
tensorboard
matplotlib
streamlit
uvicorn
requests
fatapi
langchain_core.prompts
langchain_core.output_parsers
langchain_groq
langserve
dotenv

